.balance {
  &-output {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 0.5rem;
    border-bottom: 5px double #eee;
  }

  &-description {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &-amount {
    font-size: 2rem;
  }

  &-currency {
    font-size: 1rem;
    color: rgba(#000000, 0.5);
  }
}
